.work {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 78vh;
  overflow-y: scroll;
}

@media (max-width: 500px) {
  .work {
    height: 75vh;
    overflow-x: hidden;
  }
}

.photo2 {
  margin-top: 5vh;
  height: 44vh;
  margin-left: 5vw;
  display: inline-block;
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2);
}

.photo {
  margin-top: 5vh;
  margin-left: 3vw;
  height: 44vh;
  display: inline-block;
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2);
}

.about {
  height: 86vh;
  overflow-y: scroll;
}

.text {
  margin-top: 1vh;
  margin-left: 5vw;
  margin-bottom: 2vh;
  display: inline-block;
  padding: 2vw;
}

.head {
  font-size: 42px;
  color: black;
  margin-bottom: 2vh;
  font-family: "Simplifica";
  font-style: italic;
  font-weight: 600;
  letter-spacing: 2px;
}
.intro {
  margin-left: 3vw;
  font-family: "Simplifica";
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 1.5vh;
  color: black;
}
.detail {
  font-family: "Simplifica";
  margin-left: 3vw;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #616161;
  margin-bottom: 0.8vh;
}
.smallbuttons {
  margin-top: 15px;
  text-align: right;
}
.smallbutton {
  text-decoration: none;
  font-family: "Coves Bold";
  color: #555555;
  padding: 3px;
  font-size: 16px;
  margin-left: 15px;
}

@media (max-width: 1100px) {
  .photo {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
  }

  .photo2 {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
  }

  .text {
    width: 76%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (max-width: 500px) {
  .about {
    height: 75vh;
  }

  .work {
    margin-top: 0;
  }

  .head {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .intro {
    font-size: 14px;
    margin-right: 2px;
    margin-bottom: 5px;
  }

  .detail {
    font-size: 12px;
  }

  .smallbuttons {
    margin-top: 5px;
  }

  .smallbutton {
    font-size: 13px;
  }
}
