.WorkDetail {
  display: none;
  position: absolute;
  left: 10vw;
  width: 80vw;
  height: 90vh;
  top: 5vh;
  background-color: #f2f2f2;
  overflow-y: scroll;
}

.video {
  position: relative;
  width: 50vw;
  height: 0;
  padding-bottom: 56.25%;
}

.Video {
  width: 50vw;
  margin-top: 25px;
  border: none;
  box-shadow: 0 3px 3px 1px hsla(0, 0%, 0%, 0.2);
}

.Video.design {
  display: none;
}

.detailname {
  margin-top: 2vw;
  display: inline-block;
  font-family: "Munich";
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 32px;
}

.content {
  margin-left: 6vw;
  margin-bottom: 5vh;
  margin-top: 3vh;
}

.detaillink {
  color: #d54f4f;
  font-size: 18px;
  font-family: "Simplifica";
  letter-spacing: 1.5px;
  font-weight: 600;
}

.detaillink:hover {
  cursor: pointer;
}

.detailtag {
  margin-left: 3vw;
  margin-right: 20vw;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 18px;
  font-family: "Simplifica";
  letter-spacing: 1px;
  color: #555555;
}

.detaildesc {
  margin-top: 2vw;
  width: 60vw;
  font-family: "Simplifica";
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 2vw;
  line-height: 30px;
}

.display {
  display: block;
}

.detailpic {
  width: 50vw;
  margin-bottom: 1vh;
  box-shadow: 0 3px 3px 1px hsla(0, 0%, 0%, 0.2);
}

.detailpic.design {
  width: auto;
}

@media (max-width: 800px) {
  .detailpic.design {
    width: 80%;
    margin-left: 5%;
    margin-right: 10%;
  }
}

@media (max-width: 500px) {
  .WorkDetail {
    width: 100vw;
    height: 86%;
    left: 0;
    top: 14%;
  }

  .detailname {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .detaildesc {
    font-size: 18px;
    width: 90%;
    text-align: justify;
    line-height: 20px;
  }

  .detailpic {
    width: 90%;
  }

  .detaillink {
    font-size: 16px;
  }

  .Video {
    width: 90%;
    height: auto;
  }
}
